.card {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #626262;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer; 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

.metaInfoRow {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  color: #6b7280;
  font-size: 0.875rem;
  margin-bottom: 12px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.purpose {
  font-size: 0.875rem; 
  color: #000000;
  margin: 16px 0 0 0;
}

.purpose strong {
  font-weight: 600;
}